.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Board-container {
  display: flex;
}

.Cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(100,100,100);

  font-family: 'Mansalva', cursive;
  font-size: 3em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Restart-button {
	box-shadow: 0px 3px 0px 0px #39466b;
	background-color:#5b85c7;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}
.Restart-button:hover {
	background-color:#476e9e;
}
.Restart-button:active {
	position:relative;
	top:1px;
}
